---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1043hI28PjG3dl11xZU8F0fC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u4QITAafMYa7RMbWbWjnA7VA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1043hI28PjG3dl11xZU8F0fC",
          "created": 1400441074,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_1043hI28PjG3dl11vR3JcyXc",
              "object": "charge",
              "created": 1400441074,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_1043hI28PjG3dl11GNSVGceQ",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 5,
                "exp_year": 2016,
                "fingerprint": "OETLyPF3B8PxfIYx",
                "customer": "cus_43hI5kLqIem4LA",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_1043hI28PjG3dl117bC2JF3a",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_43hI5kLqIem4LA",
              "invoice": "in_1043hI28PjG3dl119phtZt9p",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_43hIROfCStjoGG"
        }
  recorded_at: Tue, 20 May 2014 17:16:09 GMT
recorded_with: VCR 2.9.0
