---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=40000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_u4QITAafMYa7RMbWbWjnA7VA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card number is incorrect.",
            "type": "card_error",
            "param": "number",
            "code": "incorrect_number"
          }
        }
  recorded_at: Sat, 03 May 2014 12:42:33 GMT
recorded_with: VCR 2.9.0
