---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1044js28PjG3dl110LC1Ml5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_u4QITAafMYa7RMbWbWjnA7VA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1044js28PjG3dl110LC1Ml5D",
          "created": 1400681318,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_1044js28PjG3dl118AwmDdOo",
              "object": "charge",
              "created": 1400681318,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_1044jp28PjG3dl11WgFUqrea",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 5,
                "exp_year": 2018,
                "fingerprint": "EovdprEDsRA6jCCW",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_44PyXoUGySL8xo"
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_44PyXoUGySL8xo",
              "invoice": null,
              "description": "payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_44js6RhmoRpCQa"
        }
  recorded_at: Wed, 21 May 2014 14:32:30 GMT
recorded_with: VCR 2.9.0
