---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_u4QITAafMYa7RMbWbWjnA7VA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1044O728PjG3dl11KNb0fPlH",
          "livemode": false,
          "created": 1400600372,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1044O728PjG3dl111w8sUD4H",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "OETLyPF3B8PxfIYx",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Tue, 20 May 2014 15:39:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1044O728PjG3dl11KNb0fPlH&email=frieda_luettgen%40bogan.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_u4QITAafMYa7RMbWbWjnA7VA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1400600372,
          "id": "cus_44O74me2vaUeby",
          "livemode": false,
          "description": null,
          "email": "frieda_luettgen@bogan.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_44O74me2vaUeby/subscriptions",
            "data": [
              {
                "id": "sub_44O7Fk8MFCBtum",
                "plan": {
                  "interval": "month",
                  "name": "base plan",
                  "created": 1400004033,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1400600372,
                "status": "active",
                "customer": "cus_44O74me2vaUeby",
                "cancel_at_period_end": false,
                "current_period_start": 1400600372,
                "current_period_end": 1403278772,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_44O74me2vaUeby/cards",
            "data": [
              {
                "id": "card_1044O728PjG3dl111w8sUD4H",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "OETLyPF3B8PxfIYx",
                "customer": "cus_44O74me2vaUeby",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_1044O728PjG3dl111w8sUD4H"
        }
  recorded_at: Tue, 20 May 2014 15:39:33 GMT
recorded_with: VCR 2.9.0
